<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startMutexKey" value="warlords2patcher"/>
    <add key="startupRequiredArgument" value="warlords2patcher"/>
    <add key="remoteServerURL" value="http://patcher.warlords2.net/"/>
    <add key="newsEndpointURL" value="http://patcher.warlords2.net/news/news.php"/>
    <add key="newsImagePath" value="patcher\news_images"/>
    <add key="metin2ExeFileName" value="metin2client.exe"/>
    <add key="registrationURL" value="https://warlords2.net/register"/>
    <add key="discordURL" value="https://discord.gg/BukTR3PX"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
